<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Health Forum</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/fancybox/jquery.fancybox.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/jcarousel.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/flexslider.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='script/owl-carousel/owl.carousel.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="logo"/></a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/">Home</a></li> 
                            <li><a href="about.html">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    
        <section id="featured">
            <!--slider-->
            <div id="main-slider" class="flexslider">
                <ul class="slides">
                    <li>
                        <img src="{{ url_for('static', filename='img/slides/1.jpg') }}">
                        <div class="flex-caption">
                            <h3>Your health matters</h3>
                            <p>Take your health into your own hands!</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/slides/2.jpg') }}">
                        <div class="flex-caption">
                            <h3>Get information you can trust</h3>
                            <p>Verified by experts</p>
                        </div>
                    </li>
                    <li>
                        <img src="{{ url_for('static', filename='img/slides/3.jpg') }}">
                        <div class="flex-caption">
                            <h3>Healty now!</h3>
                            <p>Take your health into your own hands!</p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <section id="categories" style="margin-top: 2dvw;">
            <div class="container">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th colspan="3">
                                <div class="search-bar text-right">
                                    <input type="text" id="search" placeholder="Search">
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div class="category-item">
                                    <img src="{{ url_for('static', filename='img/category/category1.jpg') }}" alt="Nutrition & Diet">
                                    <div class="category-details">
                                        <h4><a href="category.html">Nutrition & Diet</a></h4>
                                        <p>Discussions about healthy eating habits, diet plans, meal ideas, and nutrition tips.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="category-item">
                                    <img src="{{ url_for('static', filename='img/category/category2.jpg') }}" alt="Mental Health">
                                    <div class="category-details">
                                        <h4><a href="category.html">Mental Health</a></h4>
                                        <p>Discussions on managing stress, anxiety, depression, mindfulness, therapy, and self-care practices.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="category-item">
                                    <img src="{{ url_for('static', filename='img/category/category3.jpg') }}" alt="Fitness & Exercise">
                                    <div class="category-details">
                                        <h4><a href="category.html">Fitness & Exercise</a></h4>
                                        <p>Topics related to workouts, exercise routines, gym equipment, sports, and physical activity.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="category-item">
                                    <img src="{{ url_for('static', filename='img/category/category4.jpg') }}" alt="Medical Conditions">
                                    <div class="category-details">
                                        <h4><a href="category.html">Medical Conditions</a></h4>
                                        <p>Support and advice for managing specific medical conditions such as diabetes, hypertension, allergies, and chronic pain.</p>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="text-right">
                    <a href="create_post.html" class="btn btn-primary">Create Post</a>
                </div>
            </div>
        </section>
    </div>

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='script/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='script/jquery.easing.1.3.js') }}"></script>
    <script src="{{ url_for('static', filename='script/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script/jquery.fancybox.pack.js') }}"></script>
    <script src="{{ url_for('static', filename='script/jquery.fancybox-media.js') }}"></script>
    <script src="{{ url_for('static', filename='script/portfolio/jquery.quicksand.js') }}"></script>
    <script src="{{ url_for('static', filename='script/portfolio/setting.js') }}"></script>
    <script src="{{ url_for('static', filename='script/jquery.flexslider.js') }}"></script>
    <script src="{{ url_for('static', filename='script/animate.js') }}"></script>
    <script src="{{ url_for('static', filename='script/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='script/owl-carousel/owl.carousel.js') }}"></script>
</body>
</html>